h3,h4{
    color: blue;
    margin: 2%;
    text-decoration: underline;
}
button{
    margin-left:  50px;
    margin-top: 20px; 
}
.status{
    &.finshed{
        text-decoration: line-through;
    }
}